/* Buttons */

.loginBtn,
.createBtn,
.confirmBtn {
    -fx-padding: 3;
    -fx-background-color: #ffe3e3;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

.loginBtn:hover,
.createBtn:hover,
.confirmBtn:hover {
    -fx-background-color: #e6caca;
}

.registerBtn,
.signUpBtn,
.forgotBtn {
    -fx-cursor: hand;
    -fx-underline: true;
}

.registerBtn,
.signUpBtn {
    -fx-text-fill: #00bf63;
}

.registerBtn:hover,
.signUpBtn:hover {
    -fx-text-fill: #00994f;
    -fx-underline: false;
}

.forgotBtn {
    -fx-text-fill: #ff3131;
}

.forgotBtn:hover {
    -fx-text-fill: #cc1f1f;
    -fx-underline: false;
}